clusters = [
  {
    name            = "cluster1"
    private_subnet_cidr_block = "10.0.2.0/24"
    instance_type   = "c7i-flex.large"
    worker_min      = 1
    worker_max      = 3
    worker_desired  = 2
    pod_cidr        = "10.244.0.0/16"
    service_cidr    = "10.96.0.0/12"
    enable_aws_ccm  = true
  },
  {
    name              = "cluster2"
    private_subnet_cidr_block = "10.0.3.0/24"
    instance_type   = "c7i-flex.large"
    worker_min      = 1
    worker_max      = 3
    worker_desired  = 2
    pod_cidr        = "10.245.0.0/16"
    service_cidr    = "10.100.0.0/12"
    worker_ebs_volumes = [
      {
        device_name = "/dev/xvdf"
        volume_size = 20
        volume_type = "gp3"
      }
    ]
    enable_aws_ccm  = false
  }
]
